In [1]:
print("hello")

hello

In [5]:
import numpy as np
arr1=np.array([1,2,3,4]).reshape(2,2)
arr1

array([[1, 2],
       [3, 4]])

In [1]:
import pandas as pd

#create DataFrame
df = pd.DataFrame({'points': [1, 1, 2, 3.5, 4, 4, 4, 5, 5, 6.5, 7, 7.4, 8, 13, 14.2],
                   'assists': [5, 7, 7, 9, 12, 9, 9, 4, 6, 8, 8, 9, 3, 2, 6],
                   'rebounds': [11, 8, 10, 6, 6, 5, 9, 12, 6, 6, 7, 8, 7, 9, 15]})

#view first five rows of DataFrame
df.head()

   points  assists  rebounds
0     1.0        5        11
1     1.0        7         8
2     2.0        7        10
3     3.5        9         6
4     4.0       12         6

In [10]:
from numpy import asarray
from numpy import savetxt
# define data
data = asarray([[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]])
# save to csv file
savetxt('data.csv', data, delimiter=',')
df=pd.read_csv(r'data1.csv')
df.head()

   Unnamed: 0  0  1  2  3   4
0           0  1  2  3  4   5
1           1  6  7  8  9  10

In [5]:
import numpy as np
import pandas as pd
data=

SyntaxError: invalid syntax (1430401371.py, line 3)

In [6]:
import numpy as np
import pandas as pd
data=

SyntaxError: invalid syntax (1430401371.py, line 3)

In [7]:
import numpy as np
import pandas as pd
data=

SyntaxError: invalid syntax (1773252111.py, line 3)

In [9]:
import pandas as pd
import numpy as np
 
# create a dummy array
arr = np.arange(1,11).reshape(2,5)
 
# display the array
print(arr)
 
# convert array into dataframe
DF = pd.DataFrame(arr)
 
# save the dataframe as a csv file
DF.to_csv("data1.csv")
df=pd.read_csv(r'data1.csv')
df.head()

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

   Unnamed: 0  0  1  2  3   4
0           0  1  2  3  4   5
1           1  6  7  8  9  10

In [14]:
import numpy as np
arr = np.array([[True, False, True],[False, True, True],[False, False, True]]) 
arr2 = np.sort(arr)

In [21]:
list1=['a','b','c','d']
list2=[1,2,3,4]
list3=list(zip(list1,list2))
print(list3)
df=pd.DataFrame(list3,columns=['name','age'],index=[1,2,3,4])
print(df)

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]
  name  age
1    a    1
2    b    2
3    c    3
4    d    4

In [28]:
data={'name':['abc','bca','cab'],
       'age':[18,24,32]}
df=pd.DataFrame(data)
new_data=({'name':'dca',"age":18},
                                 index =[0])
df=pd.concat([new_data,df]).reset_index(drop = True)
print(df)

SyntaxError: invalid syntax (1673543147.py, line 5)